
<div class="footer">

  <div class="section">
    <div class="container">

      <style>
      .footerlogoblock {
        padding: 0 2.5rem 3rem 0;
        display: inline-block;
      }
      .footerlogoblock img {
        width: 10rem;
        padding-bottom: 5px;
      }
      </style>

      <div class="footerlogoblock">Created by <br>the Slow Factory:</div>

      <div class="footerlogoblock">
        <a href="https://slowfactory.earth"><img style="width:9rem" src="{{ 'images/logos/slow-S-factory.svg' | asset_url }}" /></a>
        <br>
        501c3 nonprofit
      </div>

      <div class="footerlogoblock">
        <a href="https://slowfactory.studio"><img src="{{ 'images/logos/slow-factory-logo-studio.svg' | asset_url }}" /></a>
        <br>
        web3 & production
      </div>

      <div class="footerlogoblock">
        <a href="https://slowfactorylabs.co"><img src="{{ 'images/logos/slow-labs-logo.svg' | asset_url }}" /></a>
        <br>
        new materials research
      </div>

      <div class="footerlogoblock">
        <a href="https://slowhide.com"><img style="width:7rem" src="{{ 'images/logos/Slowhide-logo.png' | asset_url }}" /></a>
        <br>
        plastic-free vegan leather
      </div>


    </div>
  </div>

</div>
