
<div class="bg-blue on-dark-bg section-sm">
  <div class="container text-sm">

{% assign newsletter_label_text = 'Stay informed and sign up to our newsletter: ' %}

{% include newsletter-signup.liquid %}

  </div>
</div>
