{% unless newsletter_label_text %}
  {% assign newsletter_label_text = 'Your Email:' %}
{% endunless %}

{% unless newsletter_button_text %}
  {% assign newsletter_button_text = 'Stay Informed' %}
{% endunless %}

{% unless list_id %}
  {% assign list_id = 'MUIEAKYtK1ZYupDxm6OIwBUpiDSVPul5yjUsFF4iPpJxvxysH1fv19Jk_eG2Z8fblcQlHGi7K-wS8n1tOjETbZO8hX3wCBN3t75Ubg2x3XBnYzVgv57GH-nKyp2RX_3dqecOvpoaD_lxtFOwc5w0OJ66wy_sbA4hMUcbb1fo1Af864ePoopONLnQMDPff3Ry04ix_MmseiqGTEAp' %}
{% endunless %}

  <form method="post" class="newsletter-signup-form" target="_blank" action="https://cf3ef3ac.sibforms.com/serve/{{ list_id }}">

    <input type="text" name="email_address_check" value="" style="display:none;">
    <input type="hidden" name="locale" value="en">
    <input type="hidden" name="html_type" value="simple">

    <label class="title-sm newsletter-email-label" for="EMAIL">{{ newsletter_label_text }}</label>
    <input class="title-sm email-field" type="email" value="" name="EMAIL" required="true" autocomplete="off" placeholder="enter your email">
    <input class="newsletter-signup-form__submit btn" type="submit" value="{{ newsletter_button_text }}" name="subscribe">

  </form>



{% assign newsletter_button_text = nil %}
{% assign newsletter_label_text = nil %}
{% assign list_id = nil %}
