
nav {
  display: inline-block;
  padding: 0.5em;
}
nav.sub-menu {
  padding: 0;
}

.nav-item {
  margin: 1.25em 1em 0;
  display: block;

  @extend .title-xs;
}
.nav-item a {
  display: block;
  /* padding: 0.3em; */
}
.nav-item.active a {
  font-weight: bold;
}
.nav-group {
  margin: 0 1em 0;
  border-left: 2px solid var(--black);
}
.nav-heading {
  padding: 1.25em 1em 0;
  display: block;

  /* @extend .title-xs; */
}


/*  Mobile menu flyout
*/
.mobile-menu {
  display: none;
  right: 0;
}
.mobile-menu.mobile-menu--open {
  display: block;
  transition: all 2s ease-in-out;
}
.mobile-menu nav {
  padding: 0;
  display: block;
}
.mobile-menu .nav-item {
  display: block;
}
.close {
  padding: 0 .25em;
  float: right;
  cursor: pointer;
  font-size: 3em;
  font-weight: 400;
}
.overlay-menu {
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  background: #ebebeb;
  padding: 1em;
}
@media (--viewport-xs-only) {
  .mobile-menu {
    width: 100%;
  }
  body.overlay-menu--open {
    overflow: hidden;
  }
}
